header {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  background-color: #3f3e3e;
}

.title_name {
  text-decoration: none;
  background-color: none;
}

header h1 {
  font-size: 2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

header h1 span {
  font-size: 0.5em;
}

.title_name a {
  text-decoration: none;
  font-size: 0.5em;
  cursor: pointer;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 2em;
}

header li {
  padding: 0.2em;
  display: flex;
}

.item span {
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.input_search input {
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.164);
  color: #fff;
}

.input_search input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.border_bottom {
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 4px #00000080;
  margin: 0.5em 0;
}

@media screen and (max-width: 975px) {
  header h1 {
    flex-direction: row;
  }
  header h1 span {
    text-align: end;
    padding: 0.9em;
    margin-left: 0.9em;
    height: 100%;
  }
}
