.template-movie-container {
  height: max-content;
  width: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  place-items: center;
  padding: 0px 5px;
  margin-top: 6em;
}

.card-movie {
  background-color: #3f3e3e;
  border: 0.5px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 22px;
  color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-movie {
  width: 180px;
  height: 285px;
  margin: 0.5rem 0;
}

.img-movie img {
  object-fit: cover;
  width: 175px;
  height: 280px;
  cursor: pointer;
}

.img-movie img:hover {
  transform: scale(1.1);
  transition: 1.3s;
}

.score {
  margin: 0.1rem 0;
}

.info-button {
  margin: 0.4rem 0;
}

.template-button--text {
  padding: 0.5rem;
  cursor: pointer;
}

.info-button {
  border-radius: 10px;
  padding: 0.1rem;
  transition: 1.2s;
}

.info-button:hover {
  padding: 0.5rem;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .template-movie-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 975px) {
  .template-movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .template-movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
